.header {
  background-size: cover;
  background-color: #FAF3E7;
  width: 100vw;
  height: 530px;
  padding: 80px 40px 80px 80px;
}


.header-content-margin {
  margin: 100px 200px 0 70px;

}

.p-arrow {
  bottom: 80px;
  left: 50%;

}

@media (max-width: 767px) {
    .header {
      padding: 20px;
      height: 520px;
    }
    .header-content-wrap {
      flex-wrap: wrap;
    }
    .header-content-margin {
      margin: 40px 20px;

    }

 }


