

.default-link
{
   color: #121212;
}

.default-link:hover
{
  cursor: pointer;
  color: black;
  transition: 0.2s;
  border-bottom: 5px solid #2E5339;
  text-decoration: none;

}


.grey-link {
  color: #8e8e8e;
}

.grey-link:hover {
  color: inherit;
  text-decoration: none;
}



.trr-link {

  transition: transform .3s ease-out;
  display: inline-block;
  color: black;
  cursor: pointer;

}

.trr-link:hover {
  transform: translate(10px, 0);
  text-decoration: none;
  color: #815E5B;

}

.trt-link {

  transition: transform .3s ease-out;
  display: inline-block;
  color: black;
  cursor: pointer;

}

.trt-link:hover {
  transform: translate(0, -5px);
  text-decoration: none;
  color: #815E5B;

}


.aw-link {
  color: black;
}

.aw-link:hover {
  color: #2E5339;
  text-decoration: none;
  transition: 0.2s;
}


