.btn-full {
  background-color: #FAF3E7;
  padding: 15px 25px;
}


.default-link
{
   color: #121212;
}

.default-link:hover
{
  cursor: pointer;
  color: black;
  transition: 0.2s;
  border-bottom: 5px solid #2E5339;
  text-decoration: none;

}

.grey-link {

  color: #8e8e8e;
}

.grey-link:hover {
  color: inherit;
  text-decoration: none;
}


.white-link {
  color: inherit;
}

.white-link:hover {
  color: #fdfdfd;
  text-decoration: none;
}

.colored-link {
  color: inherit;
}

.colored-link:hover {
  color: #2E5339;
  text-decoration: none;
}


.aw-link {
  color: inherit;
}

.aw-link:hover {
  color: #E2C32C;
  text-decoration: none;
  transition: 0.2s;
}
