h1 {
  width: 271px;
}

h2 {
  margin-top: 24px;
  margin-left: 190px;
}

/*STYLE*/

.upp {
  text-transform: uppercase;
}


                    /*google font*/

.darker-xs {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 18px;
}

.darker-xs-bold {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 20px;
}


.darker-s {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 23px;
  font-weight: 500;
  line-height: 25px;
}

.darker-s-bold {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 23px;
  font-weight: 800;
  line-height: 30px;
}

.font-c {
  color: #EBE0CC;
}

.darker-m {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 38px;
  font-weight: 500;
  line-height: 35px;

}

.darker-m-bold {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 30px;

}
.darker-lg-bold {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 80px;
  font-weight: 800;
  line-height: 71px;
}


.txt-padding {
  padding-right: 25px;
}

                    /*Mobile view*/

@media (max-width: 1080px) {


    h2 {
      margin-left: 250px;
    }

 }

@media (max-width: 961px) {

     h2 {
      margin-left: 230px;
    }


 }

 @media (max-width: 767px) {

    .darker-s {
      font-size: 18px;
      line-height: 18px;
    }

    .darker-s-bold {

      font-size: 18px;
      line-height: 18px;
    }


    .darker-lg-bold {
      font-size: 80px;
      line-height: 65px;
    }

    h2 {
      margin-top: 30px;
      margin-left: 0;
    }

 }


