.header-p {
  background-size: cover;
  width: 100vw;
  padding: 80px 40px 20px 80px;
}

.h-img {
  margin: auto;
  padding: 0 90px;
  width: 100%;
  z-index: -100;


}


.project-frame {
  padding: 0 40px 0 0;
}

.project-frame-content {
  padding: 50px 90px;
}



.col-gutters {
  padding-right: 40px;
}

.main {
  width: 80%;
  height: 250vh;
  min-height: 1000px;
  display: flex;
  flex-direction: column;

}

.main img {
  padding: 20px 0;
}

.sidebar {
  width: 20%;
  height: 25vh;
  min-height: 200px;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
  padding-left: 90px;
  padding-top: 40px;
}

.wrapper {
  display: flex;
  justify-content: space-around;
}



/* mobile */


@media (max-width: 767px) {

.header-p {
    padding: 20px;
}

.project-frame {
  padding: 0;
}
.project-frame-content {
  padding: 12px 45px;
}

.project-content-wrap {
  flex-wrap: wrap;
}

.col-gutters {
  padding-right: 10px;
}

}



/*.atom-home {
  width: 90px;
  height: 90px;
  margin: 0px 40px;
  border: 2px solid black;
  border-radius: 100px;
}

.atom-home:hover {
  background-color: #E2C32C;
  border: none;
  transition: 0.2s;
  text-decoration: none;
}


*/
