.project-wrapper {
  margin: 0;
}

.project-details {
  margin: ;
}


.img-project {
  height: 530px;
  background-size: cover;
  background-repeat: no-repeat;



}

.imgA {
  background-image: url("../images/cover_kusmi.jpg");
  background-size: 250%;
  background-position: center left;
}

.imgB {
    background-image: url("../images/cover_mulvig.jpg");
}

.imgC {
    background-image: url("../images/coverbis_stagein.svg");
}

.imgD {
    background-image: url("../images/cover_transbois.svg");
}

.imgE {
    background-image: url("../images/cover_mihivai.svg");
}



.project-content {
  margin: 15px 150px 40px;
}

.project-content p {
  margin: 0;
}



.p-right {
  right: -80px;
  bottom: 50px;
  z-index: 1;
}
.p-left {
  right: -50px;
  bottom: 50px;
  z-index: 1;
}




 @media (max-width: 767px) {
  .img-project {
  height: 300px;

  }

  .imgA {
  background-image: url("../images/cover_kusmi.jpg");
  }

  .imgE {
  background-image: url("../images/cover_mobile_mihivai.svg");
  }

  .project-content {
    margin: 12px 0 24px 0;
  }

}
