@import url("banner.css");
@import url("project.css");
@import url("navbar.css");
@import url("footer.css");
@import url("font.css");
@import url("burger.css");
@import url("blank.css");
@import url("project-page.css");
@import url("project-header.css");
@import url("button.css");



body {
  width: 100%;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  font-size: 15px;
  color: #121212;

}



.flex-start-aw {
  display: flex;
  justify-content: flex-start;

}

.flex-end-aw {
  display: flex;
  justify-content: flex-end;

}

.flex-between-aw {
  display: flex;
  justify-content: space-between;

}



