@import url("banner.css");
@import url("project.css");
@import url("navbar.css");
@import url("footer.css");
@import url("font.css");
@import url("burger.css");
@import url("blank.css");
@import url("project-page.css");
@import url("project-header.css");





body {
  width: 100%;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 15px;
  color: #121212;

}

.p-relative-aw {
  position: relative;
}

.p-absolute-aw {
  position: absolute;
}

.flex-start-aw {
  display: flex;
  justify-content: flex-start;

}

.flex-end-aw {
  display: flex;
  justify-content: flex-end;

}

.flex-between-aw {
  display: flex;
  justify-content: space-between;

}

.p-fixed {
  position: fixed;

}

.default-link
{
  color: inherit;
}

.default-link:hover
{
  cursor: pointer;
  color: black;
  transition: 0.2s;
  border-bottom: 4px solid;
  text-decoration: none;
}


.white-link {
  color: inherit;
}

.white-link:hover {
  color: #fdfdfd;
  text-decoration: none;
}

.aw-link {
  color: inherit;
}

.aw-link:hover {
  color: #E2C32C;
  text-decoration: none;
  transition: 0.2s;
}
