.header {
  background-size: cover;
  background-color: #E2C32C;
  width: 100vw;
  height: 680px;
  padding: 80px 40px 80px 80px;
}


.header-content-margin {
  margin: 70px 100px 0 70px;

}

@media (max-width: 767px) {
    .header-aw {
      padding: 30px;
    }
    .header-content-wrap {
      flex-wrap: wrap;
    }
    .header-content-margin {
      margin: 20px;

    }

 }


