.banner-aw {
  background-size: cover;
  /*background-image: url("images/atom_bg.svg");*/
  width: 100vw;
  position: relative;

  height: 800px;


}

.atom {
  position: absolute;
  top: -600px;
  right: 700px;
  z-index: -1;
  width: 2000px;



}



.title-banner {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 596px;
  text-align: center;
  width: 40%;


}

.navbar-aw {
  display: flex;
  justify-content: flex-end;
  height: 70px;


}

.navbar-items-aw {
   display: flex;
   justify-content: flex-end;
   margin: 50px 80px;
   z-index: 30;
}

.items-aw {
  color: inherit;
 /* border: 2px solid #ccaf54; rouge dynamique #fe2f02 */
  padding: 4px 6px;
  margin: 0 20px;

 }

 .items-aw:hover {
  color: black;
  transition: 0.2s;

  border-bottom: 4px solid #3c3cba;
  text-decoration: none;

 }



