/*STYLE*/

.upp {
  text-transform: uppercase;
}


/*google font*/

.darker-s-bold {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.darker-m {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 27px;
  line-height: 28px;

}

.darker-m-bold {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 27px;
  font-weight: 700;
  line-height: 25px;
}
.darker-lg-bold {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.raleway-s {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

.raleway-s-bold {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 700;

}

.raleway-m {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

.raleway-lg-exlight {
  font-family: 'Raleway', sans-serif;
  font-size: 100px;
  font-weight: 200;
}



