/*STYLE*/

.upp {
  text-transform: uppercase;
}


/*H1,H2 etc*/





.darker-s-bold {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.darker-m {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 30px;
}
.darker-lg-bold {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.raleway-s {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
.raleway-m {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

.raleway-lg-exlight {
  font-family: 'Raleway', sans-serif;
  font-size: 100px;
  font-weight: 200;
}
