.project-aw {
position: relative;
overflow: hidden;
}



.atomB {
  position: absolute;
  bottom: 100px;
  left: 1000px;
  z-index: -1;
  width: 2000px;
  min-width: 1000px;

}

.card-margin-aw {
  margin: 12px 80px;

}

.card-breakavoid-aw {

-webkit-column-break-inside: avoid;


}


@media (max-width: 991px) {
  .card-margin-aw {
  margin: 12px 40px;

}
}
