.project-aw {
overflow: hidden;
}



.atomB {

  bottom: 100px;
  left: 1000px;
  z-index: -1;
  width: 2000px;
  min-width: 1000px;

}

.card-margin-aw {
  padding: 40px 80px;

}

.card-breakavoid-aw {

-webkit-column-break-inside: avoid;


}

.pastille-web {
  height: 80px;
  top: -20px;
  right: -20px;

}


@media (max-width: 991px) {
  .card-margin-aw {
  margin: 12px 40px;

}
}


@media (max-width: 767px) {
  .card-margin-aw {
  margin: 12px 20px;

}
}
