.img-project {
  height: 620px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imgA {
  background-image: url("images/cover_mihivai.svg");
}

.imgB {
    background-image: url("images/cover_mulvig.jpg");
}

.imgC {
    background-image: url("images/coverbis_stagein.svg");
}

.imgD {
    background-image: url("images/cover_transbois.svg");
}



.project-content {
  margin: 18px 150px 12px;
}

.project-content a {
  text-decoration: underline;

}





 @media (max-width: 767px) {
  .img-project {
  height: 300px;

  }

  .imgA {
  background-image: url("images/cover_mobile_mihivai.svg");
  }

  .project-content {
    margin: 12px 20px 5px;
  }

}
