
.project-banner {
height: 90vh;
}

.bg-grey {
background-color: #F7F5F0;
}


.mulvig-logo-size {

 width: 700px;
 margin: 50px auto;


}

.transbois-logo-size {
   width: 500px;
  margin: auto;

}



.row-project-view {
  display: flex;
  justify-content: space-around;
}


