@import url("banner.css");
@import url("description.css");
@import url("contact-form.css");
@import url("project.css");
@import url("navbar.css");
@import url("footer.css");
@import url("font.css");





body {
  width: 100%;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

}



