@import url("banner.css");
@import url("project.css");
@import url("navbar.css");
@import url("footer.css");
@import url("font.css");
@import url("project-pages.css");
@import url("burger.css");
@import url("blank.css");





body {
  width: 100%;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 15px;
  color: #121212;

}

.p-relative-aw {
  position: relative;
}

.p-absolute-aw {
  position: absolute;
}

.flex-start-aw {
  display: flex;
  justify-content: flex-start;

}

.flex-between-aw {
  display: flex;
  justify-content: space-between;

}

a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

a:hover
{
  text-decoration: none;
  color: white;
}
