
.page{
  font-family:sans-serif;
  max-width:480px;
  margin:0 auto;
  background:#000;
  color:#fff;
  line-height:1.5;
  position:relative;
}

.header{
  padding:0 12px;
  position:fixed;
  z-index:999;
  width:100%;
  max-width:480px;
  background:#111;
  box-sizing:border-box;
  border-bottom:1px solid #fff;
}

.header-title{
  line-height:50px;
  font-size:22px;
}
ul,li{
  display:block;
}
li{
  height:50px;
  line-height:50px;
  padding:0 12px;
  border-bottom:1px solid #777;
  background:#111;
}

#menu-button{
  position:absolute;
  top:0;
  right:0;
  width:50px;
  height:50px;
  overflow:hidden;
  background:#fff;
  color:#000;
  line-height:50px;
  text-align:center;
  font-size:40px;
  cursor:pointer;
  transition:all .5s;
}


#menu-button::after{
  content:'×';
}
#menu-button.close{
  color:#fff;
  background:#000;
}
#menu-button.close::after{
  content:'≡';
}

#menu{
  transition:transform .5s;
  position:absolute;
  width:100%;
  max-width:480px;
  transform:translateY(-300px);

}
#menu.show-menu{
  transform:translateY(51px);
}

.main{
 padding:62px 12px 12px 12px;
}
